@model Commentary
@{
    await Html.RenderPartialAsync("_ClientValidationScriptsPartial");
    long postId = (long)(ViewData["postId"] ?? default(long));
}

<form method="post" asp-action="AddComment" asp-controller="Home" asp-route-postid="@postId">
    <h5>Add new comment</h5>
    <div class="row">
        <div class="col mt-2">
            <div class="form-group">
                <label class="form-label" asp-for="@Model.Username">Username</label>
                <input asp-for="@Model.Username" class="form-control" id="Email" />
                <div class="form-text"><span class="text-danger pt-1" asp-validation-for="@Model.Username"></span></div>
            </div>
        </div>
        <div class="w-100 d-md-none d-block"></div>
        <div class="col mt-2">
             <div class="form-group">
                <label class="form-label" asp-for="@Model.Email">Email</label>
                <input asp-for="@Model.Email" class="form-control" id="Email" />
                <div class="form-text"><span class="text-danger pt-1" asp-validation-for="@Model.Email"></span></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-2">
            <div class="form-group">
                <label class="form-label"  asp-for="@Model.Text">Commentary</label>
                <textarea asp-for="@Model.Text" class="form-control" id="comment"></textarea>
                <div class="form-text"><span class="text-danger pt-1" asp-validation-for="@Model.Text"></span></div>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Post comment</button>
        </div>
    </div>

</form>