@model SinglePostPartialViewModel

<div class="card mt-5">
    <div class="card-body p-4">
        <div class="row">
            <div class="col">
                <a asp-action="Post" asp-controller="Home" asp-route-postid="@Model.Post.PostId" class="text-black text-decoration-none"><h1 class="card-title">@Model.Post.Header</h1></a> 
            </div>
            <div class="col">
                <p class="text-end font-weight-light">@Model.Post.DateTime.ToString("MMMM dd, yyyy"),
                    @Model.Post.DateTime.ToShortTimeString()</p>
            </div>
        </div>
        <div class="mt-4">
            <p>@Model.Post.Text </p>
        </div>
    </div>


    <div class="card-footer">
        <div class="row my-1">
            <div class="col-4">
                <h5>
                    @foreach (Tag t in Model.Post.Tags)
                    {
                        <a asp-action="ByTag" asp-controller="Home" asp-route-tagname="@t.Name"
                        class="btn btn-secondary btn-sm text-light mb-2 mb-md-0">@t.Name</a>
                    }
                </h5>
            </div>
            <div class="col-8 align-self-top">
                @if (@Model.CommentsButton)
                {
                    <div class="float-end">
                    <a asp-action="Post" asp-controller="Home" asp-route-postid="@Model.Post.PostId">
                        <button class="float-end btn btn-outline-secondary">Comments (@Model.CommentCount.ToString())<i class="fa-regular fa-comment-dots ms-2"></i></button>
                    </a>
                    </div>
                }

                <div class="btn-group float-end">
                    <div class="btn btn-outline-secondary dropdown-toggle me-2" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="me-2">Options</span></div>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><button class="btn"><a asp-action="EditPost" asp-controller="Home"
                                asp-route-postid="@Model.Post.PostId" class="text-black text-decoration-none">Edit</a></button></li>
                        <li class="dropdown-item">
                            <form method="post" asp-action="DeletePost" asp-controller="Home" asp-route-postid="@Model.Post.PostId">
                                <button type="submit" class="btn">Delete</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>