@model SinglePostPageViewModel


<div class="row-cols-1">
    @{
        await Html.RenderPartialAsync("_PostView", new PostPartialViewModel
        {
            Post = Model.Post,
            CommentsButton = false
        });
    }
</div>
<div class="row-cols-1 pt-5">
    <h5>
        @(Model.CommentsCount == 0 ? "No comments. Be the first!" : $"{Model.CommentsCount} comment(s)")
    </h5>
</div>
<div class="row mt-4">
    <div class="col">
        <div class="card border-light p-4 bg-primary bg-opacity-10">
            @(await Component.InvokeAsync("CommentaryForm", new { postId = Model.Post.PostId }))
            @* <partial name="_CommentFormPartial" model="new CommentaryViewModel()" view-data="@(new ViewDataDictionary(ViewData) {{ "postId" , Model.Post.PostId }})" /> *@
        </div>
    </div>
    <div class="w-100 d-md-none d-block"></div>
    <div class="col mt-4 mt-md-0">
        <div class="row">
            <div class="col">
                @foreach (var com in @Model.Post.Commentaries)
                {
                    <div class="card border-light  border-2  bg-light bg-opacity-10 mb-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col float-start">
                                    <h4>@com.Username</h4>
                                    <h6>@Html.DisplayFor(model => com.Email, "EmailAddress")</h6>
                                </div>
                                <div class="col float-end">
                                    <p class="text-end font-weight-light">
                                        @com.DateTime.ToString("MMMM dd, yyyy"),
                                        @com.DateTime.ToShortTimeString()
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            @com.Text
                        </div>
                        <div class="card-footer p-0">
                            <form method="post" asp-action="DeleteComment" asp-controller="Home"
                                  asp-route-commid="@com.CommentaryId">
                                <input name="returnId" type="hidden" value="@Model.Post.PostId">
                                @if (User.IsInRole("Admins"))
                                {
                                    <button class="btn m-2 btn-sm float-end btn-secondary" type="submit">
                                        <i class="me-2 fa-solid fa-trash-can"></i>
                                        Delete
                                    </button>
                                }
                            </form>
                        </div>
                    </div>
                }
            </div>
            @if (Model.CommentsPaginationData != null)
            {
                <pagination pagination-data="@Model.CommentsPaginationData"></pagination>
            }
        </div>
    </div>
</div>`