@model EditUserViewModel
@{
    string action = @Model.Mode == UserEditMode.Create ? "SignUp" : "EditUser";
    string buttonText = @Model.Mode == UserEditMode.Create ? "Sign Up" : "Save";
}

<form method="post" asp-action="@action" asp-route-returnUrl="@ViewData["returnUrl"]">
    <div class="alert alert-danger" asp-validation-summary="All" hidden="@ViewData.ModelState.IsValid"></div>
    <div class="form-group mb-2">
        <label class="mb-2" asp-for="Username">Username</label>
        <input asp-for="Username" class="form-control"/>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label class="mb-2" asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Password" class="mb-2">Password</label>
        <input type="password" asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="ConfirmPassword" class="mb-2">Confirm password</label>
        <input type="password" asp-for="ConfirmPassword" class="form-control"/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary mx-1">@buttonText</button>
        <a class="btn btn-secondary mx-1" href="@ViewData["returnUrl"]">@buttonText</a>
    </div>
</form>
