@model PostPartialViewModel

<div class="card mt-5">
    <div class="card-body p-4">
        <div class="row">
            <div class="col">
                <a asp-page="SinglePost" asp-route-postid="@Model.Post.Id" class="text-black text-decoration-none"><h1 class="card-title">@Model.Post.Header.ToString()</h1></a> 
            </div>
            <div class="col">
                <p class="text-end font-weight-light">@Model.Post.DateTime.ToString("MMMM dd, yyyy"),
                    @Model.Post.DateTime.ToShortTimeString()</p>
            </div>
        </div>
        <div class="mt-4">
            <p>@Model.Post.Text </p>
        </div>
    </div>
    <div class="card-footer">
        <div class="row my-1">
            <div class="col-4">
                <h5>
                    @foreach (var tagName in Model.TagNames)
                    {
                        <a asp-page="List" asp-route-tagname="@tagName"
                        class="btn btn-secondary btn-sm text-light text-lowercase mt-2 mb-md-0">@tagName</a>
                    }
                </h5>
            </div>
            <div class="col-8 align-self-top">
                @if (@Model.CommentsButton)
                {
                    <div class="float-end">
                    <a asp-page="SinglePost" asp-route-postid="@Model.Post.Id">
                        <button class="float-end btn btn-outline-secondary">Comments (@Model.CommentariesCount.ToString())<i class="fa-regular fa-comment-dots ms-2"></i></button>
                    </a>
                    </div>
                }

                @if (User.IsInRole("Admins"))
                {
                    <div class="btn-group float-end">
                        <div class="btn btn-outline-secondary dropdown-toggle me-2" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="me-2">Options</span></div>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a class="btn" asp-action="EditPost" asp-controller="Home"
                                                         asp-route-postid="@Model.Post.Id" class="text-black text-decoration-none">Edit</a></li>
                            <li class="dropdown-item">
                                <form method="post" asp-action="DeletePost" asp-controller="Home" asp-route-postid="@Model.Post.Id">
                                    <button type="submit" class="btn">Delete</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>