@page "/post/{postId}/{currentPage?}"
@model SinglePostModel

<div class="row-cols-1">
    @{
        await Html.RenderPartialAsync("_PostView", Model.PostPartial);
    }
</div>
 <div class="row-cols-1 pt-5">
    <h5>
        @(Model.PostPartial?.CommentariesCount == 0 ? "No comments. Be the first!" : $"{Model.PostPartial?.CommentariesCount} comment(s)")
    </h5>
</div>
<div class="row mt-4">
   
        <div class="col">
            <div class="card border-light p-4 bg-primary bg-opacity-10">
                @(await Component.InvokeAsync("CommentaryForm", new { postId = Model.PostPartial?.Post.Id }))
            </div>
        </div>
        <div class="w-100 d-lg-none d-block"></div>
        <div class="col mt-4 mt-lg-0">
            <div class="row">
                <div class="col">
                    @foreach (var com in @Model.Commentaries.OrderByDescending(c => c.DateTime))
                    {
                        <div class="card border-light  border-2  bg-light bg-opacity-10 mb-3">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col float-start">
                                        <h4>@com.Username</h4>
                                        <h6>@Html.DisplayFor(model => com.Email, "EmailAddress")</h6>
                                    </div>
                                    <div class="col float-end">
                                        <p class="text-end font-weight-light">
                                            @com.DateTime.ToString("MMMM dd, yyyy"),
                                            @com.DateTime.ToShortTimeString()
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                @com.Text
                            </div>
                            <div class="card-footer p-0">
                                <form method="post" asp-page="SinglePost" asp-page-handler="DeleteComment"  asp-route-commentaryid="@com.Id" asp-route-postid="@Model.PostPartial?.Post.Id">
                                    <input name="returnId" type="hidden" value="@Model.PostPartial?.Post.Id">
                                    @if (User.IsInRole(RolesConstants.ADMIN_ROLE))
                                    {
                                        <button class="btn m-2 btn-sm float-end btn-secondary" type="submit">
                                            <i class="me-2 fa-solid fa-trash-can"></i>
                                            Delete
                                        </button>
                                    }
                                </form>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.CommentsPaginationData != null)
                {
                    <pagination pagination-data="@Model.CommentsPaginationData" query="@Request.Query"></pagination>
                }
            </div>
    </div>
</div>